:root {
    --primary-color: #007bff;
    --secondary-color: #ffc107;
    --background-color: #f8f9fa;
    --text-color: #343a40;
    --border-color: #ced4da;
    --form-background-color: #fff;
    --form-text-color: #495057;
    --form-border-color: #ced4da;
    --form-label-color: #6c757d;
  }
  